@charset "utf-8";

body {
    margin: 0;
    font-family: "Noto Sans Japanese", sans-serif;
}

.header-inner {
    background: #bad7f5;
}

.nav-inner {
    color: #fff;
    background: #0086f9;
}

.main-inner {
    background: #fffde3;

    height: 400px;
}

.footer-inner {
    background: #bad7f5;
}